---
title: PipeWire
description: PipeWire — Zero latency audio access
---
%header
  .header-content
    .container
    .row
      .col-lg-6.col-lg-offset-3.text-center
        =partial "animated-logo.svg"
        :css
          #foo {}
    .header-content-inner
      %h1
        = current_page.data.description
      %hr
        %p Sandboxed, non-locking, zero latency audio access &amp; processing.
        %a.btn.btn-primary.btn-xl.page-scroll{:href => "#about"} Find Out More
        
%section#about.bg-primary
  .container
    .row
      .col-lg-12.text-center
        =partial "workflow.svg"

        %p.text-faded 
          With PipeWire you can capture a playback audio with minimal latency, process in realtime using multi-process architecture. Support for sandboxed application model of the future. See 
          = link_to "Flatpak", "http://flatpak.org" 
          for more info.
        %p &nbsp;

%section#getting
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1.section-heading.text-center Getting PipeWire
        %hr.primary
        %p
          FIXME: How to get pipewire

        %h2 Setup
        %p
          FIXME: How to get it going.
        
        
        :preserve
          <pre>
            <span class="unselectable">$ </span>./configure --prefix=$PREFIX # where $PREFIX can be /usr or /usr/local
            <span class="unselectable">$ </span>make
            <span class="unselectable">$ </span>make install
          </pre>
        

%section#get-involved
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1.section-heading.text-center Get Involved
        %hr.primary
        %p
          PipeWire is Free Software and is developed in the open. To get in touch, use the 
          =link_to "pipewire mailing list", "http://fixme.com"
          or 
          %em #pipewire
          IRC channel on Freenode. Code can be found on
          =link_to "Github", "https://github.com/pipewire"
          (along with a 
          = succeed ")" do
            = link_to "wiki", "https://wiki.gnome.org/Projects/pipewire"
          and issues are tracked on 
          = succeed "." do
            = link_to "Github Issues", "https://github.com/pipewire/fc-admin/issues"
